html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*FIN DU RESET*/
body {
  background-color: #000000;
}

p {
  color: grey;
}

h1 {
  font-size: 15px;
}

/*FONT*/
@font-face {
  font-family: "DIN Alternate Bold";
  font-style: normal;
  font-weight: normal;
  src: local("DIN Alternate Bold"), url("http://localhost:63342/hazart_private/font/DINAlternate-Bold.woff") format("woff");
}
@font-face {
  font-family: "Source Code Pro";
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url("http://localhost:63342/hazart_private/font/SourceCodePro-Light.ttf.woff") format("woff");
}
h1 {
  font-family: "DIN Alternate Bold", sans-serif;
}

h2 {
  font-family: "DIN Alternate Bold", sans-serif !important;
}

p {
  font-family: "source sans pro", sans-serif;
}

/*VERTICAL SCROLL*/
.slide {
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin: 0%;
}

.slide_contact {
  width: 100vw;
  height: 50vh;
  padding: 0%;
  margin: 0%;
  display: table;
  background-color: #000000;
}

.one {
  background: #ffffff;
  scroll-snap-align: start;
}

.two {
  background: #a3f3d3;
  scroll-snap-align: start;
}

.three {
  background: #0bbaa0;
  scroll-snap-align: start;
}

.four {
  background: #00dfdf;
  scroll-snap-align: start;
  margin: 12px;
}

/*NAVBAR*/
.logo {
  width: 20%;
}

.button_navbar {
  background: linear-gradient(#e74c3c, #e67e22);
  border: none;
}
.button_navbar a {
  color: #ffffff;
  margin: 0 8px 0 8px;
}

/*HEADER*/
.paint_header {
  width: 65%;
  position: absolute;
  top: 18%;
  z-index: 1;
  right: 6%;
}

.block_text_header {
  color: #ffffff;
  background-color: #000000;
  padding: 6%;
  position: absolute;
  top: 25%;
  width: 76%;
  height: 50%;
  right: 31%;
}
.block_text_header p {
  color: #ffffff;
  font-size: 14px;
}
.block_text_header b {
  border-bottom: 1px solid #ffffff;
}

.paint_header_grey {
  position: absolute;
  top: 25%;
  z-index: 1;
  width: 62%;
  left: 10%;
}

.block_text_header_grey {
  color: #000000;
  background-color: #F5F5F5;
  padding: 22% 34% 12% 15%;
  position: inherit;
  top: 20%;
  left: 19%;
}
.block_text_header_grey p {
  color: #000000;
  font-size: 14px;
}
.block_text_header_grey b {
  border-bottom: 1px solid #000000;
}

/*VIDEO*/
.background_video {
  background-image: url("http://hazart.me/img/img/hazart_generateur_art_fondvideo.jpg");
}

.video_campagne {
  display: block;
  margin: auto;
  margin-top: 10%;
}

/*CONTACT*/
.contact_form {
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}
.contact_form h2 {
  color: #ffffff;
}
.contact_form p {
  color: #ffffff;
}
.contact_form h3 {
  font-size: 18px;
  font-style: italic;
}
.contact_form button {
  background-color: #c82333;
  border: none;
  border-radius: 15px;
  color: #ffffff;
}

/*BLOCK VIDEO BAS*/
.video_bas {
  background-image: url("http://hazart.me/img/img/hazard_video.jpg");
}

/*FOOTER*/
.block_text_footer {
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}
.block_text_footer h4 {
  color: #ffffff;
}
.block_text_footer button {
  background: linear-gradient(#e74c3c, #e67e22);
  border: none;
  padding: 0px;
}
.block_text_footer a {
  color: #ffffff;
  margin: 0 8px 0 8px;
}
.block_text_footer img {
  width: 5%;
}

/*
.button_navbar{
  background: linear-gradient(#e74c3c, #e67e22);
  border: none;
  padding: 0px;
  a{
    color: #ffffff;
    margin: 0 8px 0 8px;
  }
}*/

/*# sourceMappingURL=style.css.map */
