html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*FIN DU RESET*/

body {
  background-color: #000000;
}

p {
  color: grey;;
}

h1 {
  font-size: 15px;
}

/*FONT*/

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('http://hazart.me/font/raleway/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
  url('http://hazart.me/font/raleway/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://hazart.me/font/raleway/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('http://hazart.me/font/raleway/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('http://hazart.me/font/raleway/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('http://hazart.me/font/raleway/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url('http://localhost:63342/hazart_private/font/SourceCodePro-Light.ttf.woff') format('woff')
}

h1 {
  font-family: "Raleway-Regular", sans-serif !important;
}

h2 {
  font-family: 'Raleway-Regular', sans-serif !important;
}

h3 {
  font-family: "Raleway-Regular", sans-serif !important;
}

h4 {
  font-family: "Raleway-Regular", sans-serif !important;
}

h5 {
  font-family: "Raleway-Regular", sans-serif !important;
}

p {
  font-family: "source sans pro", sans-serif !important;
}

/*VARIABLE*/

$rouge: #E74C3C;
$noir: #2D3436;
$gris: #F5F5F5;
$blanc: #FFFFFF;

/*VERTICAL SCROLL*/

.wraper {
  scroll-snap-type: y mandatory;
}

.wrappy {
  scroll-snap-align: start;
}

.slide {
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin: 0%;
  scroll-snap-align: start;
}

.slide_contact {
  width: 100vw;
  height: 50vh;
  padding: 0%;
  margin: 0%;
  display: table;
  background-color: #ffffff;
}

.slide_footer {
  width: 100vw;
  height: 50vh;
  padding: 0%;
  margin: 0%;
  display: table;
  background-color: $noir;
}

textarea {
  border-radius: 5px;
  background-color: $gris;
  border: none;
  color: rgba($noir, 0.6);
}

/*NAVBAR*/
.navbar {
  background-color: rgba(255, 255, 255, 0.7) !important;
  height: 9%;
}

.link_nav {
  color: $noir !important;

  &:hover {
    color: lighten($noir, 25%) !important;
    border: none;
  }
}

nav-link {
  color: $noir !important;
}

.logo {
  width: 10%;
}

.button_navbar {
  background: transparent;

  a {
    color: $rouge;
    margin: 0 10px 0 8px;
    border: 2px solid $rouge;
    border-radius: 0px 15px 0px 15px;
    padding: 1% 8% 2% 8%;
  }

  &:hover a {
    background-color: rgb(255, 255, 255, 0.3);
    color: $rouge;
    transition: 0.5s;
  }
}

@media screen and (max-width: 991px) {
  .logo_marg {
    margin-left: 28%;
  }
}

/*HEADER*/

.block_text_header {
  color: #ffffff;
  background-color: $noir;
  padding: 10%;

  p {
    color: #ffffff;
    font-size: 14px;
  }

  b {
    border-bottom: 1px solid #ffffff;
  }
}

@media screen and (max-width: 768px) {
  .block_text_header {
    position: absolute !important;
    bottom: 0% !important;
    z-index: -1;
  }
}

/*BLOCK VIDEO BAS*/

.video_bas {
  background: url("http://hazart.me/img/img/hazard_video.jpg") no-repeat center;
}


.red-cube {
  background: red;
  display: block;
  padding: 40px 0;
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  width: 50vw;
  transition: 1.5s;
}

.show {
  opacity: 1;
}
/*

!*HEADER*!

.block_text_header {
  color: #ffffff;
  background-color: $noir;
  padding: 10%;

  p {
    color: #ffffff;
    font-size: 14px;
  }

  b {
    border-bottom: 1px solid #ffffff;
  }
}

.paint_header_grey {
  z-index: 1;
}

.block_text_header_grey {
  color: $noir;
  background-color: $gris;
  padding: 10%;

  p {
    color: $noir;
    font-size: 14px;
  }

  b {
    border-bottom: 1px solid $noir;
  }
}

.logo_maestria {
  width: 25%;
}

.text_maestria {
  width: 100%;
}

!*MAIN*!

@media screen and (max-width: 768px) {
  .img_paint {
    position: absolute ;
    top: 10px;
    z-index: 2;
  }
  .block_text_paint{
    height: 80vh;
    bottom: -33px;
    position: absolute !important;
  }
}

@media screen and (max-width: 575px) {
  .block_text_header_grey{
    padding: 30% 20% 10% 20%!important;
    position: absolute !important;
    top: 11%;
    margin-top: 45%;
  }
  .block_text_header_grey_image{
    position: absolute;
    bottom: 60%;
  }
}

@media screen and (max-width: 420px) {
  .img_paint {
    position: absolute ;
    top: -45px;
    z-index: 2;
  }
  .block_text_paint{
    height: 80vh;
    bottom: -33px;
    position: absolute !important;
    padding: 40% 73px 12% 17% !important;
  }
}


!*VIDEO*!

.video_campagne {
  height: 100%;
  width: 100%;
}


!*CONTACT*!

.contact_form {
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  h2{
    color: $noir;
  }
  p{
    color: $noir;
  }
  h3{
    font-size: 18px;
    font-style: italic;
  }
}

!*BLOCK VIDEO BAS*!

.video_bas {
  background: url("http://hazart.me/img/img/hazard_video.jpg") no-repeat center ;
}

.play_picto {
  margin: auto;
  padding: 0 0 10% 25%;
}

.play_text {
  z-index: 2;
}

.black_background {
  width: 100vw;
  height: 100vh;
  background-color: $blanc;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}

!*CONTACT*!

.button_contact {
  background: transparent;
  a {
    color: $rouge;
    margin: 0 15px 0 15px;
    border: 2px solid $rouge;
    border-radius: 0px 15px 0px 15px;
    padding: 0.5% 25% 3% 25%;
  }
  &:hover a {
    background-color: rgb(255, 255, 255, 0.3);
    color: $rouge;
    transition: 0.5s;
  }
}

!*CONTACT*!

.tex{
  width: 60%;
}

!*FOOTER*!

.block_text_footer {
  text-align: center;
  margin-top: 12vh;
  display: table-cell;
  vertical-align: middle;
  width: 100%;

  h4 {
    color: $blanc;
  }

  a {
    color: $rouge;
    margin: 0 8px 0 8px;
  }

  img {
    width: 8%;
  }
}
*/
